[DEFAULT]
metadata_file: /workspace/allen/dataset/2020-10-15/metadata.csv
home_dir: /workspace/allen/Allen-Collection-Curation
output_dir: ${home_dir}/output
log_dir: ${home_dir}/log
pmcid_file: ${log_dir}/PMCIDS.csv
delta_diff_file: ${log_dir}/diff_PMCID.csv

[Download]
download_number_processors: 10
download_track_file: ${DEFAULT:log_dir}/download_track.csv

[Image Extraction]
extract_number_processors: 1
extract_track_file: ${DEFAULT:log_dir}/extract_track.csv
download_ready_file: ${DEFAULT:log_dir}/download_ready.csv
extract_page_size: 4000

[Image Splitting]
split_number_processors: 1
split_track_file: ${DEFAULT:log_dir}/split_track.csv
extract_ready_file: ${DEFAULT:log_dir}/extract_ready.csv
split_reprocess_errors: no
split_page_size: 2000